@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: theme('fontFamily.russoOne');
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: theme('colors.darkBackground');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  flex-grow: 1;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: theme('screens.sm')) {
  #root {
    flex-grow: 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slider {
  width: 100%;
}

.slider-track {
  background-color: theme('colors.slate.800'); 
  height: 8px; 
  top: 6px; 
  border-radius: 0 5px 5px 0; 
  box-shadow: theme('dropShadow.md');
  border: 2px solid theme('colors.slate.800');
  border-right: none;
}

.slider-track.slider-track-0 {
  background-color: theme('colors.accent');
  border-radius: 5px 0 0 5px; 
}

.slider-thumb {
  cursor: pointer;
  background-color: theme('colors.slate.800');
  width: 5px;
  height: 20px;
  outline: none;
}